version: '3.8'

services:
  tooltracker:
    image: ghcr.io/d-kholin/tooltracker:latest
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    env_file:
      - .env
    volumes:
      - tooltracker_data:/data

volumes:
  tooltracker_data:
    driver: local
